{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 float-left">
            <div class="card rounded-3">
                <div class="card-body custom-card-body p-6">
                    <!-- Card Header section -->
                    <section aria-label="ToDo Genie Card Header">
                        <img class="img-center" src="{% static 'images/genielogosmall.png' %}" alt="ToDo Genie Logo: A stylised, gold and dark grey illustration of a genie emerging from a lamp">
                        <p class="text-center brand-text">ToDo Genie</p>
                    </section>

                    <!-- Introduction section -->
                    <section aria-label="Introduction">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{% trans "Log In" %}</h3>

                                <p>{% blocktrans %}Welcome to ToDo Genie. Your personal to-do list.
                                    Please log in to create a task list. If you
                                    have not created an account yet, then <a class="link" href="{{ signup_url }}">register</a>
                                    first.{% endblocktrans %}</p>
                            </div>
                        </div>
                    </section>

                    <!-- Login form section -->
                    <section aria-label="Login Form">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="login" method="POST" action="{% url 'account_login' %}">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                                    {% endif %}
                                    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}