{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <article class="card rounded-3">
        <div class="card-body custom-card-body p-6">
            <header>
                <img class="img-center" src="{% static 'images/genielogosmall.png' %}" alt="Genie Logo">
                <p class="text-center brand-text">ToDo <span class="brand-text-lite">G</span>enie</p>
            </header>
            <div class="row">
                <div class="col-md-8 mt-3 offset-md-2">
                    <h3>{% trans "Log Out" %}</h3>

                    <p>{% trans 'Are you sure you want to log out?' %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mt-3 offset-md-2">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-danger" type="submit">{% trans 'Log Out' %}</button>
                        <button type="button" class="btn btn-primary" onclick="history.back()">
                            Go Back
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock %}