{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="card rounded-3">
        <div class="card-body custom-card-body p-6">
            <!-- Card Header section -->
            <section aria-label="ToDo Genie Card Header">
                <section role="title">
                    <img class="img-center" src="{% static 'images/genielogosmall.png' %}" alt="ToDo Genie Logo: A stylised, gold and dark grey illustration of a genie emerging from a lamp">
                    <p class="text-center brand-text">ToDo <span class="brand-text-lite">G</span>enie</p>
                </section>
            </section>

            <!-- Confirmation section -->
            <section aria-label="Confirmation">
                <div class="row">
                    <div class="col-md-8 mt-3 offset-md-2">
                        <h3>{% trans "Log Out" %}</h3>

                        <p>{% trans 'Are you sure you want to log out?' %}</p>
                    </div>
                </div>
            </section>

            <!-- Logout form section -->
            <section aria-label="Logout Form">
                <div class="row">
                    <div class="col-md-8 mt-3 offset-md-2">
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button class="btn btn-danger" aria-label="Confirm Delete" type="submit">{% trans 'Log Out' %}</button>
                            <button type="button" class="btn btn-primary" aria-label="Go Back" onclick="history.back()">
                                Go Back
                            </button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}