{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 float-left">
            <div class="card rounded-3">
                <div class="card-body custom-card-body p-4">
                    <!-- Card Header section -->
                    <section aria-label="ToDo Genie Card Header">
                        <section role="title">
                            <img class="img-center" src="{% static 'images/genielogosmall.png' %}" alt="ToDo Genie Logo: A stylised, gold and dark grey illustration of a genie emerging from a lamp">
                            <p class="text-center brand-text">ToDo <span class="brand-text-lite">G</span>enie</p>
                        </section>
                    </section>

                    <!-- Introduction section -->
                    <section aria-label="Introduction">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{% trans "Register" %}</h3>

                                <p>{% blocktrans %}Create a new account to start using ToDo Genie.{% endblocktrans %}</p>
                            </div>
                        </div>
                    </section>

                    <!-- Registration form section -->
                    <section aria-label="Registration Form">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="signup" method="POST" action="{% url 'account_signup' %}">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        {% include 'todo/form_snippet.html' with field=field %}
                                    {% endfor %}
                                    {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                    {% endif %}
                                    <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}