body {
  background: url("/static/images/genie.jpeg") 40% 0 no-repeat;
}
/* remove spacing between buttons */
a.d-inline-block {
  margin: 0;
}
/* Main section height 100% of viewport */
.vh-100 {
  height: 100vh;
  background-color: #007bff;
}

/* Container padding */
.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Card styling */
.card {
  border-radius: .75rem;
}

/* Card body padding */
.card-body {
  padding: 2rem;
}

/* Text center alignment */
.text-center {
  text-align: center;
}

/* Margin and padding for headings */
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

/* Form styles */
.form-outline {
  margin-bottom: 1rem;
}

/* Margin for table */
.mb-4 {
  margin-bottom: 1.5rem;
}

/* Additional styles for buttons */
.ms-1 {
  margin-left: .25rem;
}

/* Improve the contrast of placeholders */
/* Taken from https://inclusive-components.design/a-todo-list/ */
::-webkit-input-placeholder { 
    color: #444;
    font-style: italic;
  }
  ::-moz-placeholder { 
    color: #444;
    font-style: italic;
  }
  :-ms-input-placeholder { 
    color: #444;
    font-style: italic;
  }
  :-moz-placeholder { 
    color: #444;
    font-style: italic;
  }
  
  /* overide default bootstrap button colours */
  .input-box.button input {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #007bff; /* Vibrant Blue for primary button */
    background: #000;
    cursor: pointer;
  }
  
  .input-box.button input:hover {
    background: #0056b3; /* Royal Blue for hover effect */
  }
  
  .btn-danger {
    background-color: #dc3545; /* Red for delete button */
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #c82333; /* Dark Red for hover effect */
  }
  
  .btn-success {
    background-color: #28a745; /* Green for finished button */
    color: white;
  }
  
  .btn-success:hover {
    background-color: #218838; /* Darker Green for hover effect */
  }
  
  .btn-primary {
    background-color: #007bff; /* Vibrant Blue for primary button */
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Royal Blue for hover effect */
  }
  
  .btn-logout {
    background-color: #dc143c; /* Crimson for logout button */
    color: white;
  }
  
  .btn-logout:hover {
    background-color: #c82333; /* Dark Red for hover effect */
  }