body {
  background-color: #DFAD38;
  color: #0F242B;
  background: url("/static/images/inspiration-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
body < img {
  width: 100%;
  height: 100%;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* remove spacing between buttons */
a.d-inline-block {
  margin: 0;
}
/* Main section height 100% of viewport */
.vh-100 {
  height: 100vh;
}
.navbar-brand {
  padding: 0;
}
.brand-text {
  font-family: "Konkhmer Sleokchher", sans-serif;
  color: #0F242B
}
.brand-text-lite {
  font-family: "Konkhmer Sleokchher", sans-serif;
  font-weight: 600;
  color: #DFAD38
}

/* Container padding */
.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Card styling */
.card {
  border-radius: .75rem;
}

/* Card body padding */
.card-body {
  padding: 2rem;
}

/* Text center alignment */
.text-center {
  text-align: center;
}

/* Margin and padding for headings */
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

/* Form styles */
.form-outline {
  margin-bottom: 1rem;
}

/* Margin for table */
.mb-4 {
  margin-bottom: 1.5rem;
}

/* Additional styles for buttons */
.ms-1 {
  margin-left: .25rem;
}
/* Make status toggle buttons the same width */
.btn.ms-1.toggle-button {
  width: 200px;
}
/* overide default bootstrap button colours */
.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #DFAD38; /* Vibrant Blue for primary button */
  background: #000;
  cursor: pointer;
}

.input-box.button input:hover {
  background: #0056b3; /* Royal Blue for hover effect */
}

.btn-danger {
  background-color: #dc3545; /* Red for delete button */
  color: white;
}

.btn-danger:hover {
  background-color: #c82333; /* Dark Red for hover effect */
}

.btn-success {
  background-color: #28a745; /* Green for finished button */
  color: white;
}

.btn-success:hover {
  background-color: #218838; /* Darker Green for hover effect */
}

.btn-primary {
  background-color: #DFAD38 /* Vibrant Blue for primary button */
  color: white;
}

.btn-primary:hover {
  /* background-color: #D89630; */
  background-color: #91A6FF; /* Royal Blue for hover effect */
}

.btn-logout {
  background-color: #dc143c; /* Crimson for logout button */
  color: white;
}

.btn-logout:hover {
  background-color: #c82333; /* Dark Red for hover effect */
}