{% extends 'base.html' %}
{% load static %}
{% block title %}ToDo List - ToDo Genie{% endblock %}

{% block content %}
<!-- Main section covering full viewport height -->
<main class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-9 col-xl-7">
                <article class="card rounded-3">
                    <div class="card-body p-4">
                        <header>
                            <img class="img-center" src="{% static 'images/genielogosmall.png' %}" alt="Genie Logo">
                            <p class="text-center brand-text">ToDo <span class="brand-text-lite">G</span>enie</p>
                        </header>

                        <!-- Display messages -->
                        {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}


                        <!-- Form for adding new ToDo items -->
                        <form method="POST" class="row g-3 justify-content-center align-items-center mb-4 pb-2">
                            {% csrf_token %}
                            <div class="col-12">
                                <div class="form-outline">
                                    <input type="text" id="form1" class="form-control" name="task" placeholder="Enter a task to do" aria-label="Enter an item to do" required>
                                </div>                                    
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Add Item</button>
                            </div>
                        </form>
                        <!-- Table displaying ToDo items -->
                        <section>
                            <table class="table mb-4">
                                <thead>
                                    <tr>                                        
                                        <th>ToDo Items</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Loop through each ToDo list item and display it -->
                                    <!-- {% for i in todos %}
                                        <tr>
                                            <td>{{ i.todo_name }}</td>
                                            <td>{{ i.status|yesno:"Completed,In progress" }}</td>
                                            <td>
                                                <div class="btn-group" role="group"></div>
                                                    <a href="{% url 'delete' i.todo_name %}" class="d-inline-block">
                                                        <button type="button" class="btn btn-danger">Delete</button>
                                                    </a>
                                                    <a href="{% url 'toggle_status' i.todo_name %}">
                                                        <button type="button" class="btn btn-success ms-1" class="d-inline-block">
                                                            {{ i.status|yesno:"Mark as In progress,Mark as Completed" }}
                                                        </button>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>                                       
                                    {% endfor %} -->
                                    {% for i in todos %}
                                        <tr>
                                            <td>{{ i.todo_name }}</td>
                                            <td>
                                                <a href="{% url 'toggle_status' i.todo_name %}">
                                                    <button type="button" class="btn btn-success ms-1">
                                                        {% if i.status == "Not Started" %}
                                                            Not Started
                                                        {% elif i.status == "In Progress" %}
                                                            In Progress
                                                        {% else %}
                                                            Completed
                                                        {% endif %}
                                                    </button>
                                                </a>
                                                <!-- {% if i.status == "Not Started" %}
                                                    Not Started
                                                {% elif i.status == "In Progress" %}
                                                    In Progress
                                                {% else %}
                                                    Completed
                                                {% endif %} -->
                                            </td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <a href="{% url 'delete' i.todo_name %}" class="d-inline-block">
                                                        <button type="button" class="btn btn-danger">Delete</button>
                                                    </a>
                                                    <!-- <a href="{% url 'toggle_status' i.todo_name %}">
                                                        <button type="button" class="btn btn-success ms-1">
                                                            {% if i.status == "Not Started" %}
                                                                Not Started - Mark as In Progress
                                                            {% elif i.status == "In Progress" %}
                                                                In Progress - Mark as Completed
                                                            {% else %}
                                                                Completed - Mark as Not Started
                                                            {% endif %}
                                                        </button>
                                                    </a> -->
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </section>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>

<!-- external JavaScript -->
<script src="{% static 'todo/js/message_timeout.js' %}"></script>

{% endblock %}