{% extends 'base.html' %}
{% load static %}
{% block title %}ToDo List - ToDo Genie{% endblock %}

{% block content %}
<!-- Main section covering full viewport height -->
<main class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <!-- <div class="col-lg-9 col-xl-7"> -->
            <div class="col-lg-12 col-xl-11">
                <article class="card rounded-3">
                    <div class="card-body p-4">
                        <header>
                            <img class="img-center" src="{% static 'images/genielogosmall.png' %}" alt="Genie Logo">
                            <p class="text-center brand-text">ToDo <span class="brand-text-lite">G</span>enie</p>
                        </header>

                        <!-- Display messages -->
                        {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <!-- Form for adding new ToDo items -->
                        <form method="POST" class="row g-3 justify-content-center align-items-center mb-4 pb-2">
                            {% csrf_token %}
                            <div class="col-12">
                                <div class="form-outline">
                                    <input type="text" id="form1" class="form-control" name="task" placeholder="Enter a task to do" aria-label="Enter an item to do" required>
                                </div>                                    
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Add Item</button>
                            </div>
                        </form>
                        <!-- Table displaying ToDo items -->
                        <section>
                            <table class="table mb-4">
                                <thead>
                                    <tr>                                        
                                        <th>ToDo Items</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Loop through each ToDo list item and display it -->
                                    {% for i in todos %}
                                        <tr>
                                            <td>{{ i.todo_name }}</td>
                                                <td>
                                                    <!-- Give the buttons differet colours representing their toggle state -->
                                                    <button type="button" class="btn ms-1 toggle-button {% if i.status == "Not Started" %}btn-secondary{% elif i.status == "In Progress" %}btn-warning{% else %}btn-success{% endif %}" onclick="toggleStatus('{% url 'toggle_status' i.todo_name %}')">
                                                        {% if i.status == "Not Started" %}
                                                            Not Started
                                                        {% elif i.status == "In Progress" %}
                                                            In Progress
                                                        {% else %}
                                                            Completed
                                                        {% endif %}
                                                    </button>
                                                </td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-danger" onclick="confirmDeleteAndRedirect('{% url 'delete' i.todo_name %}')">
                                                        Delete
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </section>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>

<!-- external JavaScript -->
<script src="{% static 'todo/js/javascript.js' %}"></script>

{% endblock %}