{% extends 'base.html' %}

{% block title %}ToDo List - ToDo Genie{% endblock %}

{% block content %}
<!-- Main section covering full viewport height -->
<main class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-9 col-xl-7">
                <article class="card rounded-3">
                    <div class="card-body p-4">
                        <header>
                            <h1 class="text-center my-3 pb-3">ToDo Genie</h1>
                        </header>
                        <!-- Form for adding new ToDo items -->
                        <form method="POST" class="row g-3 justify-content-center align-items-center mb-4 pb-2">
                            {% csrf_token %}
                            <div class="col-12">
                                <div class="form-outline">
                                    <input type="text" id="form1" class="form-control" name="task" placeholder="Enter an item ToDo" aria-label="Enter an item to do">
                                </div>                                    
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Add Item</button>
                            </div>
                        </form>
                        <!-- Table displaying ToDo items -->
                        <section>
                            <table class="table mb-4">
                                <thead>
                                    <tr>                                        
                                        <th>ToDo Items</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Loop through each ToDo list item and display it -->
                                    {% for i in todos %}
                                        <tr>
                                            <td>{{ i.todo_name }}</td>
                                            <td>{{ i.status|yesno:"Completed,In progress" }}</td>
                                            <td>
                                                <div class="btn-group" role="group"></div>
                                                    <a href="{% url 'delete' i.todo_name %}" class="d-inline-block">
                                                        <button type="button" class="btn btn-danger">Delete</button>
                                                    </a>
                                                    <a href="{% url 'toggle_status' i.todo_name %}">
                                                        <button type="button" class="btn btn-success ms-1" class="d-inline-block">
                                                            {{ i.status|yesno:"Mark as In progress,Mark as Completed" }}
                                                        </button>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </section>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>
{% endblock %}